<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="CSS/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1 id="dayheading"><%= listType %> </h1>
    </div>

    <div class="box">

        <% for (var i = 0; i < itemList.length; i++) { %>
          <div class="item">
            <input type="checkbox" name="" value="">
            <p> <%= itemList[i] %> </p>
          </div>

        <% } %>
        <form class="item" action= <%= action %> method="post">
          <input type="text" name="newItem" value="" placeholder="Add New Item" autocomplete="off">
          <button type="submit" name="button">+</button>
        </form>
    </div>


  </body>
</html>
